<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maplegjswns.drake.dao.DrakeDao">

	<select id="selectAll" resultType="DrakeVO">
		SELECT * FROM tbl_drake ORDER BY d_seq
	</select>

	<select id="findBySeq" resultType="DrakeVO">
		SELECT * FROM tbl_drake WHERE d_seq = #{seq}
	</select>

	<insert id="insert" parameterType="DrakeVO">
		INSERT INTO tbl_order (
		D_SEQ,
		D_TITLE,
		D_NEWTITLE,
		D_FEAT

		) VALUES (
		SEQ_DRAKE.NEXTVAL,
		#{d_title},
		#{d_newtitle},
		#{d_feat}
		)
	</insert>
	<update id="update"></update>
	<delete id="delete">
		DELETE FROM tbl_drake WHERE d_seq = #{seq}
	</delete>

</mapper> 
